body{
	-webkit-user-select:none;
    	-webkit-text-size-adjust:100%;
    	font-family: "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.imgs ul,.scene_img ul,.imgs ul li,.scene_img ul li{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.imgs ul li,.scene_img ul li{
	list-style: none;
	float: left;
}
p{
	text-indent: 2em;
	font-size: 12px;
	line-height: 200%;
}
.layout{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.img{
	width: 100%;
	height: 230px;
}
.navbar{
	width: 100%;
	margin-bottom: 0px;
	position: fixed!important;
	top: 0px;
	z-index: 999;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	zoom:1;
}

.navbar-default{
	background-color: #fff;
	border-color: #fff;
}
.navbar-collapse{
	padding: 0px;
}
.navbar-nav{
	margin: 0px;
	background: #fff;
}
.nav>li{
	border-bottom: 1px solid #e7e7e7;
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 2px;
}
.navbar-toggle .icon-bar{
	height: 3px;
}
.navbar-default .navbar-brand{
	color: #000;
}
.banner{
	width: 100%;
	min-height: 340px;
	background: url('../img/bg.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
.bannerShadow{
	width: 100%;
	min-height: 340px;
	position: absolute;
	top:  0px;
	left: 0px;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	zoom:1;
}
.title{
	width: 100%;
	height: 60px;
	line-height: 20px;
	font-size: 20px;
	padding: 10px;
	position: absolute;
	color: #fff;
	text-align: right;
	top: 110px;
	opacity: 0.7;
}
.title span:nth-child(2){
	display: block;
	font-size: 12px;
	line-height: 24px;
}
.about{
	padding:5% 0;
}
.about h4{
	font-size: 20px;
	text-align: center;
	font-weight: 500;
}
.carousel{
	margin-bottom: 30px;
}
#xiaoanOnline{
	overflow: hidden;
	background-color: #faf0df;
	position: relative;
	padding-top: 0px;
	margin-bottom: 10px;
}
#xiaoanOnline .text{
	float: right;
}
#xiaoanOnline .text h5{
	text-indent: 2em;
	font-weight: 500;
	line-height: 200%;
	font-size: 14px;
}
#xiaoanOnline .text p{
	font-size: 12px;
}
#xiaoanOnline .text .scenePics{
	display: none;
}
#xiaoanOnline .img{
	background:url('../img/app.png') no-repeat center center;
	background-size: cover;
	float: right;
}
.sceneImg{
	width: 100%;
	height: 160px;
	padding: 10px 10px;
	overflow: hidden;
	display: block;
}
.sceneImg .imgs{
	width: 5000px;
	height: 140px;
}
.sceneImg .imgs img{
	height: 200px;
	width: auto;
	border:1px solid #ccc;
	margin-right: 10px;
}
#carousel-example-schools{
	margin-bottom: 0px;
}
.carousel-control.right,.carousel-control.left{
	display: none;
	background-image:none;
}
.carousel-control{
	width: 10%;
	text-align: center;
	font-size: 60px;
	text-shadow: none;
	color: #333;
	display: none;
}
.carousel-control span{
	display: block;
	height: 60px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
	color: #fff;
	line-height: 60px;
}
.introduce h4,.text h4{
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}
.text{
	padding: 5%;
}
.enterpriseCulture{
	background-color: #faf0df;
	overflow: hidden;
}
.enterpriseCulture{
	position: relative;
}
.enterpriseCulture .img{
	background: url('../img/culture.png') no-repeat center center;
	background-size: cover;
}
.enterpriseCulture .introduce{
	padding: 5%;
	/*text-indent: 2em;*/
	line-height: 200%;
}
.enterpriseCulture .introduce h5{
	font-weight: 500;
	font-size: 12px;
}
.team .img{
	background: url('../img/team.png') no-repeat center center;
	background-size: cover;
}
.team .introduce{
	padding: 5%;
	line-height: 200%;
}
#map{
	width: 100%;
	height:500px;
}
.bottom{
	width: 100%;
	height: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
.contactUs{
	width: 100%;
	height: auto;
	position: relative;
}
.contactUs #map{
	width: 100%;
	height: 300px;
}
@media screen and (min-width:768px) {
	p{
		font-size: 16px;
		line-height: 200%;
		margin-bottom: 0px;
	}
	.about h4{
		font-size: 26px;
	}
	.introduce h4,.text h4{
		font-size: 26px;
		text-align: left;
	}
	.text span{
		font-size: 16px;
	}
	.img{
		width: 46%;
		height: 400px;
		float:left;
	}
	.navbar{
		border:none;
		border-radius: 0;
	}
	.container{
		padding:0px;
	}
	.navbar-header{
		padding: 20px 0px;
	}
	.navbar-default{
		background-color: #fff;
		border-color: transparent;
	}
	.navbar-nav{
		float: right;
	}
	.navbar-nav>li{
		border-bottom: 3px solid transparent;
		padding: 20px 0px;
	}
	.navbar-nav>li:hover{
		border-bottom: 3px solid #0074d9;
	}
	.banner,.bannerShadow{
		min-height: 600px;
	}
	.title{
		font-size: 36px;
		height: 80px;
		line-height: 80px;
		top: 200px;
	}
	.title span:nth-child(2){
		font-size: 20px;
		line-height: 20px;
	}
	.about{
		background-color: #fff;
		width: 100%;
		color: #333;
		padding: 4% 0;
	}
	.about h4{
		text-align: center;
		font-weight: 500;
		margin-bottom: 20px;
	}
	.carousel{
		margin-bottom: 100px;
	}
	.carousel-control{
		display: block;
	}
	#xiaoanOnline{
		padding-top: 30px;
		margin-bottom: 0px;
	}
	#xiaoanOnline .img{
		background:url('../img/app.png') no-repeat center right;
		background-size: cover;
		float: left;
	}
	#xiaoanOnline .text{
		width:40%;
		height:200px;
		padding:0 0 0 10px;
		position: absolute;
		top: 26%;
		right: 5%;
		margin-top: -50px;
		/*text-indent: 2em;*/
	}
	#xiaoanOnline .text h5{
		line-height: 150%;
		margin-bottom: 0px;
		font-size: 16px;
	}
	#xiaoanOnline .text .scenePics{
		display: none;
	}
	.sceneImg{
		height: 220px;
	}
	.sceneImg .imgs{
		height: 200px;
	}
	.introduce h4{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.enterpriseCulture .introduce{
		height: 200px;
		position: absolute;
		top: 50%;
		left: 51%;
		margin-top: -100px;
		padding: 0;
	}
	.enterpriseCulture .introduce h4{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.enterpriseCulture .introduce p{
		text-indent: 0;
	}
	.xiaoanOnschool{
		width:100%;
		height:auto;
		overflow: hidden;
		padding-left: 8%;
		position: relative;
	}
	.xiaoanOnschool .text{
		width:40%;
		height:160px;
		padding:10px;
		position: absolute;
		top: 50%;
		left: 5%;
		margin-top: -80px;
	}
	.xiaoanOnschool .carousel{
		width:50%;
		float: right;
	}
	.carousel-control.right,.carousel-control.left{
		display: block;
	}
	.text h4{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.enterpriseCulture{
		width: 100%;
		height: auto;
		/*padding: 6% 0;*/
	}
	.introduce{
		float: left;
		width: 50%;
		padding: 0 0 0 5%;
	}
	.team{
		overflow: hidden;
		position: relative;
	}
	.team .img{
		width: 50%;
		float: right;
	}
	.team .introduce{
		height: 320px;
		width: 40%;
		position: absolute;
		top: 50%;
		left: 3%;
		margin-top: -160px;
		padding:0 0 0 5%;
	}
	.team .introduce h4{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.contactUs{
		height: 600px;
	}
	.contactUs #map{
		height: 600px;
	}
	.contactUs .shadow{
		width: 500px;
		height: 220px;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #000;
		opacity: 0.3;
		filter: alpha(opacity=30);
		-moz-opacity:0.3;
		-khtml-opacity:0.3;
		zoom:1;
	}
	.contactUs .text{
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		height: auto;
		color: #fff;
		text-indent: 2em;
	}
	.bottom{
		height: 50px;
		line-height: 50px;
	}
}
@media screen and (min-width:1170px){
	p{
		font-size: 20px;
		line-height: 200%;
		margin-bottom: 0px;
	}
	.about h4,.introduce h4,.text h4{
		font-size: 36px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.text span{
		font-size: 20px;
	}
	.img{
		height: 500px;
	}
	.navbar-brand{
		font-size: 36px;
		margin-left: 100px;
	}
	.title{
		height: 200px;
		top: 250px;
		font-size: 70px;
	}
	.title span:nth-child(2){
		font-size: 26px;
		line-height: 50px;
	}
	.banner,.bannerShadow{
		min-height: 800px;
	}
	#xiaoanOnline{
		padding-top: 100px;
	}
	#xiaoanOnline .img{
		height: 560px;
	}
	#xiaoanOnline .text{
		height: 260px;
		margin-top: -60px;
	}
	#xiaoanOnline .text h5{
		font-size: 20px;
		line-height: 200%;
	}
	#xiaoanOnline .text h4,.xiaoanOnschool .text h4{
		margin-top: 10px;
	}
	.sceneImg{
		position: absolute;
		width: 40%;
		height: 220px;
		right: 5%;
		bottom: 6%;
	}
	.xiaoanOnschool .text{
		height:200px;
		margin-top: -100px;
	}
	.carousel-control{
		font-size: 80px;
	}
	.carousel-control span{
		height: 80px;
		margin-top: -40px;
		/*line-height: 80px;*/
	}
	.enterpriseCulture .introduce{
		padding: 0 0 0 2%;
		height: 260px;
		margin-top: -130px;
	}
	.enterpriseCulture .introduce h5{
		font-size: 16px;
	}
	.enterpriseCulture .introduce h4,.team .introduce h4{
		font-size: 36px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.team .introduce{
		height: 380px;
		margin-top: -190px;
	}
	.contactUs .shadow{
		width: 610px;
		height: 300px;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #000;
		opacity: 0.3;
		filter: alpha(opacity=30);
		-moz-opacity:0.3;
		-khtml-opacity:0.3;
		zoom:1;
	}
}
/**/
::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#ccc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
              
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(46,34,86,1); 
              
}
